/.quarto/
.Rproj.user
.history/
.vscode/
_extensions/
*.png
*.pdf
*.jpg
# *.qmd
_freeze/
notes.sh
params.yml
*_files/
data/
cache/
*_cache/
neuropsych_report_cache/
/.luarc.json
blackbox.config.json
.env*
.flaskenv*
!.env.project
!.env.vault
.env.vault
secure_data
local_data
*.pkg
*.dmg
_02_iq_bk.qmd
_02_iq.typ
_02_iq_functions.R
bk/
_03_academics.typ
_04_verbal.typ

_05_spatial.typ
