_02_iq_bk.qmd
_02_iq_functions.R
_02_iq.typ
_03_academics.typ
_04_verbal.typ
_freeze/
!.env.project
.env*
.flaskenv*
.history/
.Rproj.user
.vscode/
*_cache/
*_files/
*.dmg
*.pkg
/.luarc.json
/.quarto/
# _*_*.html
# _*_*.typ
# _extensions/
# *.jpg
# *.pdf
# *.png
# *.qmd
bk/
blackbox.config.json
cache/
local_data
neuropsych_report_cache/
notes.sh
# params.yml
secure_data
Biggie.qmd
Biggie/
file_names.sh
_03-05_feedback.knit.md
_03-05_feedback.html
.vscode/settings.json
output/
index_scores.xlsx
neurobehav.csv
neurocog.csv
validity.csv
neuropsych.csv
run_scrape_pdf_nse.R
_environment.local
prerender.R
.dbxignore

.DS_Store
.idea
*.RData
*.Rproj
*.Rhistory
__pycache__/
build
quarto_cli.egg-info
.Rproj.user
package/dist/**
/package/out
/tests/cov_profile
/tests/cov_profile.lcov
/tests/test-out.json
*~
.env
.trunk/.gitignore
.trunk/trunk.yaml
.trunk/configs/.markdownlint.yaml
.trunk/configs/.yamllint.yaml
.vscode/settings.json
jwt_sig.png
.vscode/settings.json
