_02_iq_bk.qmd
_02_iq_functions.R
_02_iq.typ
_03_academics.typ
_04_verbal.typ
_freeze/
!.env.project
.env*
.flaskenv*
.history/
.Rproj.user
.vscode/
*_cache/
*_files/
*.dmg
*.pkg
/.luarc.json
/.quarto/
# _*_*.html
# _*_*.typ
# _extensions/
# *.jpg
# *.pdf
# *.png
# *.qmd
bk/
blackbox.config.json
cache/
data/
local_data
neuropsych_report_cache/
notes.sh
# params.yml
secure_data
Alexandra.qmd
Biggie.qmd
